header  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: greenyellow;
    border-bottom: 5px double black;
}

header h1{
    margin-left: 10px;
}

header div {
    margin-right: 10px;
}

#return-btn {
    margin: 10px;
    padding: 10px 30px;
}